In [2]:
import pandas as pd

In [4]:
iris_df=pd.read_csv('iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
iris_df.drop(['class'], axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [9]:
columns_new=['sepal_length','petal_length','sepal_width','petal_width']
iris_df=iris_df.reindex(columns=columns_new)
iris_df

     sepal_length  petal_length  sepal_width  petal_width
0             5.1           1.4          3.5          0.2
1             4.9           1.4          3.0          0.2
2             4.7           1.3          3.2          0.2
3             4.6           1.5          3.1          0.2
4             5.0           1.4          3.6          0.2
..            ...           ...          ...          ...
145           6.7           5.2          3.0          2.3
146           6.3           5.0          2.5          1.9
147           6.5           5.2          3.0          2.0
148           6.2           5.4          3.4          2.3
149           5.9           5.1          3.0          1.8

[150 rows x 4 columns]

In [11]:
iris_df.to_csv('new_iris_data.csv', index=False)